.list-divider{
    background-color: #dfe3e6;
    border-radius: 3px;
    width: 300px;
    padding: 8px;
    height: fit-content;
    margin-right: 10px;
}
.list-container{
    display: flex;
    flex-direction: row;
}
.card-container{
    margin-bottom: 8px;
}
.add-button{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    height: 36px;
    width: 272px;
    padding-left: 10px;
}
.add-form{
    resize: none;
    width: 100%;
    border: none;
    outline: none;
    overflow: hidden;
}
.card-form{
    overflow: visible;
    min-height: 60px;
    min-width: 272px;
    padding: 6px 8px 2px;
    border-radius: 3px;
}
.button-form{
    color: white !important;
    background-color: #5aac44 !important;
}
.close-form{
    margin-left: 8px;
    cursor: pointer;
}
.action-form-group{
    margin-top: 8px;
    display: flex;
    align-items: center;
}